/* General setting */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

body
{
    font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6
{
    font-weight: bold;
}

img
{
    max-width: 100%;
    height: auto;
}

section
{
    padding: 45px 0 80px 0;
}

section .heading
{
    text-align: center;
    padding-bottom: 40px;
}

.blue-divider
{
    width: 100px;
    height: 2px;
    background-color: #9BB7D4;
    margin: 0 auto;
    margin-bottom: 15px;
}

.white-divider
{
    width: 100px;
    height: 2px;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 15px;
}

/* ABOUT */

#about
{
    padding-top: 100px;
    background: #9BB7D4;
}

.profile-picture
{
    text-align: center;
    margin: 0 auto;
    float: none;
}

.img-circle
{
    border-radius: 50%;
}

#about .heading h1
{
    color: #fff;
    text-transform: uppercase;
}

#about .heading h3
{
    color: #000;
    text-transform: uppercase;
}

.head-button
{
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all;
}

.head-button:hover
{
    background: #fff;
    color: #9BB7D4;
    text-decoration: none;
}

/* SKILLS */

#skills
{
    background: #fff;
}

#skills .heading h2 
{
    color: #9BB7D4;
    text-transform: uppercase;
}

.progress
{
    margin: 30px 20px !important;
    height: 2rem !important;
}

#skills .progress, h5
{
    text-shadow: 1px 1px 1px #000;
}

/* EXPERIENCES */

/* EDUCATION */

#education
{
    background: #9BB7D4;
}

#education .heading h2
{
    color: #fff;
    text-transform: uppercase;
}

.education-block
{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #ddd;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
    overflow: hidden;
}

.education-block h5
{
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}

.education-block h3
{
    color: #9BB7D4;
}

.education-block h4
{
    margin-bottom: 20px;
}

.education-block p
{
    font-weight: bold;
}

.education-block .blue-divider
{
    margin-bottom: 20px;
}

/* PORTFOLIO */

#portfolio
{
    background: #fff;
}

#portfolio .heading h2
{
    color: #9BB7D4;
    text-transform: uppercase;
}

#portfolio .thumbnail img
{
    width: 95%;
    height: 95%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    margin-bottom: 10px;
}

#portfolio .thumbnail img:hover
{
    filter: none;
    -webkit-filter: none;
}

/* FOOTER */

footer
{
    background: #333;
    color: #fff;
    padding: 20px 0 40px;
}

footer h5
{
    margin-top: 15px;
    text-transform: uppercase;
}

footer p
{
    font-size: 20px;
}

footer a
{
    text-decoration: none;
    color: #9BB7D4;
    font-size: 20px;
}